<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--看门狗-->
    <add key="WatchDogName" value="WatchDog.exe" />
    <add key="WatchDogPort" value="7808" />
    <!--黑猫信息-->
    <add key="ProjectName" value="未指定" />
    <add key="Address" value="2235" />
    <!--用于获取天气-->
    <add key="ProjectNumber" value="88888882" />
    <!--单进，单出，混行-->
    <add key="Direction" value="混行" />
    
    <!--远程监控通讯端口-->
    <add key="ListenPort" value="8000"/>
    <add key="CatNumber" value="1" />
    <add key="AlarmServerIP" value="127.0.0.1"/>
    <add key="AlarmPort" value="7999"/>
 
    <!--人脸自动注册UDP接口-->
    <add key="FaceServer" value="10.1.13.72" />
    <add key="FacePort" value="9202"/>

    <!--身份证数据库连接串-->
    <add key="ConnectionString" value="server=10.1.13.12;user=guest;database=abdoor;password=123456;port=3307;" />
    <add key="IDServerIP" value="127.0.0.1" />
    <add key="IDServerPort" value="9050" />
    <add key="SharePath" value="\\10.1.13.12\vanke" />
    <add key="Vendor" value="CVR100A" />
    
    <!--快递数据库连接串 为空时，不检查-->
    <add key="mysqlconn" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--天气接口-->
    <add key="WeatherURL" value="http://112.74.166.112:9090/cat/getWeather.do" />
    <!--语音板，电视机网络状态检查 报警时间-->
    <add key="VoiceboardAndTV" value="300000" />
    <!--仓内滞留，A、B门常开 报警时间-->
    <add key="ABDoorAndStayInRoom" value="240000" />
    
    <!--A门弹开延时 毫秒-->
    <add key="AFUCK" value="1200" />
    <!--B门弹开延时 毫秒-->
    <add key="BFUCK" value="900" />

    <!--是否为捷顺闸机 0＝非捷顺   1＝捷顺 COM3口将占用，GPIO不要设置为COM3-->
    <add key="ISJESUN" value="0" />

    <!--B门护栏提示音-->
    <add key="BDOORVOICE" value="请按钮，或退出护栏" />

    <!--计数器类型  JZ(基宏运) HK(海康)-->
    <add key="CounterType" value="HK" />
    <add key="HKPort" value="3036" />    

  </appSettings>
  <system.windows.forms jitDebugging="true" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>