<?xml version="1.0"?>
<ArrayOfAppTimers xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppTimers>
    <Interval>2000</Interval>
    <Apps>
      <string>ABDoor.exe</string>
      <string>HM.Cloud.Client\HM.Cloud.Client</string>
    </Apps>
  </AppTimers>
</ArrayOfAppTimers>