<?xml version="1.0"?>
<GPIOConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <GPIO_COM>COM1</GPIO_COM>
  <ADoor_Times>0</ADoor_Times>
  <BDoor_times>0</BDoor_times>
  <starttime>0001-01-01T00:00:00</starttime>
  <stoptime>0001-01-01T00:00:00</stoptime>
  <peak1starttime>0001-01-01T08:00:00</peak1starttime>
  <peak1stoptime>0001-01-01T09:00:00</peak1stoptime>
  <peak2starttime>0001-01-01T17:00:00</peak2starttime>
  <peak2stoptime>0001-01-01T18:00:00</peak2stoptime>
  <peakrepeat>True,True,True,True,True,True,True</peakrepeat>
  <closestarttime>0001-01-01T20:00:00</closestarttime>
  <closestoptime>0001-01-01T05:00:00</closestoptime>
  <closerepeat>False,True,True,True,False,True,True</closerepeat>
  <IDReaderCOM>COM1</IDReaderCOM>
  <KeyBoardCOM>COM2</KeyBoardCOM>
  <Holiday>
    <string>20180314</string>
    <string>20180315</string>
    <string>20180316</string>
    <string>20180317</string>
    <string>20180321</string>
    <string>20180322</string>
  </Holiday>
</GPIOConfigInfo>