<?xml version="1.0"?>
<PeopleCounterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TotalEnter>5788</TotalEnter>
  <TotalExit>0</TotalExit>
  <TotalICCard>5791</TotalICCard>
  <TotalFace>0</TotalFace>
  <TotalPhoneUnlock>0</TotalPhoneUnlock>
  <TotalPersonID>0</TotalPersonID>
  <TotalTalkUnlock>0</TotalTalkUnlock>
  <TodayEnter>0</TodayEnter>
  <TodayExit>0</TodayExit>
  <TodayICCard>0</TodayICCard>
  <TodayFace>0</TodayFace>
  <TodayPhoneUnlock>0</TodayPhoneUnlock>
  <TodayPersonID>0</TodayPersonID>
  <TodayTalkUnlock>0</TodayTalkUnlock>
  <HourEnter>0</HourEnter>
  <HourExit>0</HourExit>
  <HourICCard>0</HourICCard>
  <HourFace>0</HourFace>
  <HourPhoneUnlock>0</HourPhoneUnlock>
  <HourPersonID>0</HourPersonID>
  <HourTalkUnlock>0</HourTalkUnlock>
</PeopleCounterInfo>