<?xml version="1.0"?>
<ArrayOfPingEntity xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <pingEntity>
    <ip>127.0.0.1</ip>
    <name>二维码摇一摇</name>
  </pingEntity>
  <pingEntity>
    <ip>127.0.0.1</ip>
    <name>闸机对讲</name>
  </pingEntity>
  <pingEntity>
    <ip>127.0.0.1</ip>
    <name>舱内对讲</name>
  </pingEntity>
  <pingEntity>
    <ip>127.0.0.1</ip>
    <name>中心话机</name>
  </pingEntity>
  <pingEntity>
    <ip>127.0.0.1</ip>
    <name>sip服务器</name>
  </pingEntity> 
  <pingEntity>
    <ip>127.0.0.1</ip>
    <name>客流计数器</name>
  </pingEntity>
  <pingEntity>
    <ip>127.0.0.1</ip>
    <name>摄像头1</name>
  </pingEntity>
  <pingEntity>
    <ip>127.0.0.1</ip>
    <name>摄像头2</name>
  </pingEntity>
  <pingEntity>
    <ip>127.0.0.1</ip>
    <name>摄像头3</name>
  </pingEntity>
  <pingEntity>
    <ip>127.0.0.1</ip>
    <name>硬盘录像机</name>
  </pingEntity>
</ArrayOfPingEntity>

