<?xml version="1.0"?>
<ArrayOfTargetInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targetInfo>
    <name>监控中心</name>
    <ip>127.0.0.1</ip>
    <port>7300</port>
  </targetInfo>
  <targetInfo>
    <name>数据上云服务端</name>
    <ip>127.0.0.1</ip>
    <port>6666</port>
  </targetInfo>
</ArrayOfTargetInfo>