<?xml version="1.0"?>
<VoiceConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LocalIP>192.168.1.1</LocalIP>
  <LocalPort>9000</LocalPort>
  <VoiceBoardIP>192.168.1.2</VoiceBoardIP>
  <VoiceBoardPort>9001</VoiceBoardPort>
  <vt1>0001-01-01T12:00:00</vt1>
  <vt2>0001-01-01T12:00:00</vt2>
  <vt3>0001-01-01T12:00:00</vt3>
  <q1>2</q1>
  <q2>2</q2>
  <q3>2</q3>
  <z1>1</z1>
  <z2>1</z2>
  <z3>1</z3>
  <l1>1</l1>
  <l2>1</l2>
  <l3>1</l3>
</VoiceConfigInfo>