<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!--是否为内部项目，1：是，0：否-->
    <add key="IsInternalProject" value="1" />
    <!--人脸注册时默认有效期多少天-->
    <add key="FaceEndTime" value="365" />
    <!--是否已初始化，1：是，0：否-->
    <add key="IsInitialized" value="0" />
    <!--最后拉取日期-->
    <add key="LastPullDate" value="2010-01-01" />
    <!--最后推送日期-->
    <add key="LastPushDate" value="2010-01-01" />
    <add key="TempPhotoPath" value="temp_photo" />
    <!--最大睡眠秒钟-->
    <add key="MaxSleepSeconds" value="3600" />
    <!--1小时-->
  </appSettings>
  <connectionStrings>
    <!--项目端人脸综合管理平台数据库-->
    <add name="FacePlatformDB" connectionString="server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=face_platform_18" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="UserNamePasswordBehavior">
          <!--<UserNameClientCredentials userName="44030021" password="05a354e087c647930bafc806fab00cf6" />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WeChatService" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8089/service/wechat" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WeChatService" contract="WeChatService.WeChatService" name="BasicHttpBinding_WeChatService" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="UserNameClientCredentials" type="HM.FacePlatform.Client.UserNameClientCredentials, HM.FacePlatform.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>