<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="WeChatDB" connectionString="server=localhost,3306;user id=root;password=123456;persistsecurityinfo=True;database=wechatface" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--阿里云OSS配置-->
    <add key="ali_endpoint" value="http://vpc100-oss-cn-shenzhen.aliyuncs.com"/>
    <add key="ali_accessKeyId" value="LTAIXmntmoWvGTuq"/>
    <add key="ali_accessKeySecret" value="SCkvWLVsDU96BEJopW7LXlYcBUT3um"/>
    <add key="ali_bucketName" value="vkwy-test"/>
    <!--照片保存位置配置-->
    <add key="parentDirectory" value="blackcatoneclound-test/FACEPIC/"/>
    <!--根目录，以"/"结尾-->
    <add key="photoFolder" value="ORG/"/>
    <!--照片模板原图保存文件夹，以"/"结尾-->
    <add key="photoZipFolder" value="ZIP/"/>
    <!--照片模板压缩图保存文件夹，以"/"结尾-->
    <add key="snapshotFolder" value="SNAPSHOT/"/>
    <!--抓拍照片保存文件夹，以"/"结尾-->
    <add key="isDeleteFromOss" value="1"/>
    <!--模板删除时是否从OSS删除照片-->
    <add key="tempPhotoPath" value="temp_photo" />
    <!--照片临时存储文件夹-->
    <add key="thumbnailPercent" value="0.5" />
    <!--图片缩放比例-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WeChatBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials>
            <userNameAuthentication
              userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="HM.FacePlatform.Server.CustomUserNameValidator, HM.FacePlatform.Server" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="HM.FacePlatform.Server.WeChatService" behaviorConfiguration="WeChatBehavior">
        <endpoint address="wechat" binding="basicHttpBinding" bindingConfiguration="binding_WeChatService" contract="HM.FacePlatform.Server.IService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8089/service"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="binding_WeChatService" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>